.header {
  padding: 10px;
}

.row {
  display: flex;
  justify-content: space-between;
}

.light {
  background-color: aliceblue;
  color: black;
}

.dark {
  background-color: black;
  color: aliceblue;
}

.content {
  width: 500px;
  padding: 50px;
  margin: 50px auto;
}
